@import url("https://use.typekit.net/lrm0kaj.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Brand-Black: 17, 26, 73;
  --White: 255, 255, 255;
  --Unfinished-Grey: 198, 200, 231;
  --font-header: "nagel-variable", sans-serif;
  --font-body: "cofo-sans-variable", sans-serif;
  font-size: 18px;
}

body {
  color: rgb(var(--Brand-Black));
  font-family: var(--font-body);
  font-weight: 300;
}
