@import url("https://use.typekit.net/lrm0kaj.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Brand-Black: 17, 26, 73;
  --White: 255, 255, 255;
  --Unfinished-Grey: 198, 200, 231;
  --font-header: "nagel-variable", sans-serif;
  --font-body: "cofo-sans-variable", sans-serif;
}

body {
  color: rgb(var(--Brand-Black));
  font-family: var(--font-body);
  font-weight: 300;
}

.folder-svg > svg {
  width: 100%;
  z-index: -1;
  max-height: 9.125rem;
}

.folder-svg {
  display: flex;
  width: 100%;
}

.folder-back > svg {
  max-height: 11.125rem;
}
